/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900 */

p, a{
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-bottom: 150px;
}

header{
    background-color: #A306B6;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
    /* padding-bottom:100px; */
}

nav{
    background-color: #A306B6;
    display: inline-block;
    width: 100%;
}

nav>img{
    width: 75px;
    height: 75px;
    margin: 0 0 0 10px;
}

nav{
    grid-row: 1/2;
    grid-column: 1/6;
}

header>div{
    grid-row: 2;
    grid-column: 1/6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 30vw;
}

header>div>img{
    width: 25vh;
    height: 25vh;
    border: 5px solid white;
    /* problème de marge intern */
    border-radius: 100%;
}

nav ul{
    text-align: end;
    padding: 20px;
    margin-top:-100px;
    margin-bottom: 100px ;
    grid-row: 1;
    grid-column: 4/5;
}

nav ul li{
    color: white;
    display: inline-block;
    margin:20px 30px 0 20px;
    border: solid 1px green;
}

h1{
    text-align: end;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 40px;
}

h2{
    color:#A306B6;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 2rem;
    width: 100%;
}

main>section{
    margin: 100px 0;
}

main>section.paragraphe{
    margin: 0 30%;
}

main>section.cards{
    margin: 1rem 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.cards article{
    display: flex;
    border-radius: 5px;
    background-color: #d9d9d9;
    width: 300px;
    height: 300px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

section.cards article img{
    width: 100%;
    height: 100%;
    margin: 20px;
}


section.cards article p{
    background-color:#A306B6; 
    font-size: 16px; 
    line-height: 16px; 
    padding: 6px; 
    border-radius: 10px; 
    width: 30%;
    margin: auto;
}

section.cards article p a{
    text-decoration:none;
    color: white;
}


footer{
    background-color: #D9D9D9;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height:75px; 
}


/****************** mobile display ******************/

@media screen and (max-width: 500px){ 

    
    header{
        display: flex;
        flex-direction: column;
    }
    
    header nav{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    header nav img{
        width: 100vw;
        text-align: center;
        
    }
    
    header nav ul{
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    header nav ul li{
        margin:0;
    }

    header>div>img{
        margin-top: 75px; 
        max-width: 150px;
        max-height: 150px;
        text-align: center;
    }

    header>div{
        flex-direction: column-reverse;
    }
    
    h1{
        text-align: center;
        font-size: 1rem;
    }
    
    main section.cards{
        flex-direction: column;
    }
    
    main section.cards article{
        margin-top: 20px;
        
    }

    
    
 }